In [99]:
import pandas as pd
from pathlib import Path

#file path
school_data_file_path=Path("../Resources/schools_complete.csv")
student_data_file_path=Path("../Resources/students_complete.csv")

#read file 
school_data = pd.read_csv(school_data_file_path)
student_data = pd.read_csv(student_data_file_path)

#merging student and school datasets
school_dataset = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_dataset.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [100]:
#Total number of unique schools
school_count=school_dataset['school_name'].nunique()
school_count

15

In [101]:
#Total students
student_count =school_dataset['Student ID'].nunique()
student_count

39170

In [102]:
#Total budget
total_budget =school_dataset.groupby('school_name')['budget'].first().sum()
total_budget

24649428

In [103]:
#Average math score
math_score_avg = school_dataset['math_score'].mean()
math_score_avg

78.98537145774827

In [104]:
#Average reading score
reading_score_avg = school_dataset['reading_score'].mean()
reading_score_avg

81.87784018381414

In [105]:
#% passing math (the percentage of students who passed math)
passing_math_score = school_dataset[(school_dataset["math_score"] >= 70)].count()["student_name"]
students_passing_math_percentage = passing_math_score / float(student_count) * 100
students_passing_math_percentage

74.9808526933878

In [106]:
#% passing reading (the percentage of students who passed reading)
passing_reading_score = school_dataset[(school_dataset["reading_score"] >= 70)].count()["student_name"]
students_passing_reading_percentage = passing_reading_score / float(student_count) * 100

students_passing_reading_percentage

85.80546336482001

In [107]:
#% overall passing (the percentage of students who passed math AND reading)
passing_math_reading_score = school_dataset[
    (school_dataset["math_score"] >= 70) & (school_dataset["reading_score"] >= 70)].count()["student_name"]
students_passing_math_reading_percentage = passing_math_reading_score / float(student_count) * 100

students_passing_math_reading_percentage

65.17232575950983

In [116]:
District_Summary = pd.DataFrame({
    'Total School Count': [15],
    'Total Student Count': [39170],
    'Total Budget': [24649428],
    'Average Math Score': [78.98537145774827],
    'Average Reading Score': [81.87784018381414],
    '% Passing Math': [74.9808526933878],
    '% Passing Reading': [85.80546336482001],
    '% Overall Passing': [65.17232575950983]
})

District_Summary["Total Student Count"] = District_Summary["Total Student Count"].map("{:,}".format)
District_Summary["Total Budget"] = District_Summary["Total Budget"].map("${:,.2f}".format)

District_Summary

,Total School Count,Total Student Count,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [ ]:
#School name

school_info = school_data.set_index(["school_name"])["type"]
school_info

In [ ]:
#School type

In [ ]:

#Total students

In [ ]:
#Total school budget

In [ ]:
#Per student budget

In [ ]:
#Average math score

In [ ]:
#Average reading score

In [ ]:
#% passing math (the percentage of students who passed math)

#% passing reading (the percentage of students who passed reading)

#% overall passing (the percentage of students who passed math AND reading)

## Highest-Performing Schools (by % Overall Passing)

## Lowest-Performing Schools (by % Overall Passing)

## Math Scores by Grade

## Reading Scores by Grade

## Scores by School Spending

## Scores by School Size

## Scores by School Type