In [3]:
import pandas as pd
from pathlib import Path

#file path
school_data_file_path=Path("../Resources/schools_complete.csv")
student_data_file_path=Path("../Resources/students_complete.csv")

#read file 
school_data = pd.read_csv(school_data_file_path)
student_data = pd.read_csv(student_data_file_path)

#merging student and school datasets
school_dataset = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_dataset.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [6]:
#Total number of unique schools
school_count=school_dataset['school_name'].nunique()
school_count

15

## School Summary

## Highest-Performing Schools (by % Overall Passing)

## Lowest-Performing Schools (by % Overall Passing)

## Math Scores by Grade

## Reading Scores by Grade

## Scores by School Spending

## Scores by School Size

## Scores by School Type