In [346]:
import pandas as pd
from pathlib import Path

#file path
school_data_file_path=Path("../Resources/schools_complete.csv")
student_data_file_path=Path("../Resources/students_complete.csv")

#read file 
school_data = pd.read_csv(school_data_file_path)
student_data = pd.read_csv(student_data_file_path)

#merging student and school datasets
school_dataset = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_dataset.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [347]:
#Total number of unique schools
school_count=school_dataset['school_name'].nunique()
school_count

15

In [348]:
#Total students
student_count =school_dataset['Student ID'].nunique()
student_count

39170

In [349]:
#Total budget
total_budget =school_dataset.groupby('school_name')['budget'].first().sum()
total_budget

24649428

In [350]:
#Average math score
math_score_avg = school_dataset['math_score'].mean()
math_score_avg

78.98537145774827

In [351]:
#Average reading score
reading_score_avg = school_dataset['reading_score'].mean()
reading_score_avg

81.87784018381414

In [352]:
#% passing math (the percentage of students who passed math)
passing_math_score = school_dataset[(school_dataset["math_score"] >= 70)].count()["student_name"]
students_passing_math_percentage = passing_math_score / float(student_count) * 100
students_passing_math_percentage

74.9808526933878

In [353]:
#% passing reading (the percentage of students who passed reading)
passing_reading_score = school_dataset[(school_dataset["reading_score"] >= 70)].count()["student_name"]
students_passing_reading_percentage = passing_reading_score / float(student_count) * 100

students_passing_reading_percentage

85.80546336482001

In [354]:
#% overall passing (the percentage of students who passed math AND reading)
passing_math_reading_score = school_dataset[
    (school_dataset["math_score"] >= 70) & (school_dataset["reading_score"] >= 70)].count()["student_name"]
students_passing_math_reading_percentage = passing_math_reading_score / float(student_count) * 100

students_passing_math_reading_percentage

65.17232575950983

In [355]:
District_Summary = pd.DataFrame({
    'Total School Count': [15],
    'Total Student Count': [39170],
    'Total Budget': [24649428],
    'Average Math Score': [78.98537145774827],
    'Average Reading Score': [81.87784018381414],
    '% Passing Math': [74.9808526933878],
    '% Passing Reading': [85.80546336482001],
    '% Overall Passing': [65.17232575950983]
})

District_Summary["Total Student Count"] = District_Summary["Total Student Count"].map("{:,}".format)
District_Summary["Total Budget"] = District_Summary["Total Budget"].map("${:,.2f}".format)

District_Summary

,Total School Count,Total Student Count,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [375]:
#School name

school_name = school_data[["school_name"]]
school_name

              school_name
0       Huang High School
1    Figueroa High School
2     Shelton High School
3   Hernandez High School
4     Griffin High School
5      Wilson High School
6     Cabrera High School
7      Bailey High School
8      Holden High School
9        Pena High School
10     Wright High School
11  Rodriguez High School
12    Johnson High School
13       Ford High School
14     Thomas High School

In [382]:
#School type
school_type = school_data.set_index(["school_name"])["type"].reset_index()
school_type

              school_name      type
0       Huang High School  District
1    Figueroa High School  District
2     Shelton High School   Charter
3   Hernandez High School  District
4     Griffin High School   Charter
5      Wilson High School   Charter
6     Cabrera High School   Charter
7      Bailey High School  District
8      Holden High School   Charter
9        Pena High School   Charter
10     Wright High School   Charter
11  Rodriguez High School  District
12    Johnson High School  District
13       Ford High School  District
14     Thomas High School   Charter

In [384]:
#Total students

total_students = school_dataset.groupby("school_name")["student_name"].count().reset_index()
total_students

              school_name  student_name
0      Bailey High School          4976
1     Cabrera High School          1858
2    Figueroa High School          2949
3        Ford High School          2739
4     Griffin High School          1468
5   Hernandez High School          4635
6      Holden High School           427
7       Huang High School          2917
8     Johnson High School          4761
9        Pena High School           962
10  Rodriguez High School          3999
11    Shelton High School          1761
12     Thomas High School          1635
13     Wilson High School          2283
14     Wright High School          1800

In [379]:
#Total school budget
School_budget = school_data.set_index(["school_name"])["budget"].reset_index()
School_budget

              school_name   budget
0       Huang High School  1910635
1    Figueroa High School  1884411
2     Shelton High School  1056600
3   Hernandez High School  3022020
4     Griffin High School   917500
5      Wilson High School  1319574
6     Cabrera High School  1081356
7      Bailey High School  3124928
8      Holden High School   248087
9        Pena High School   585858
10     Wright High School  1049400
11  Rodriguez High School  2547363
12    Johnson High School  3094650
13       Ford High School  1763916
14     Thomas High School  1043130

In [390]:
#Per student budget

budget_student_merge = pd.merge(total_students, School_budget, on="school_name")

budget_student_merge["Per Student Budget"] = budget_student_merge["budget"] / budget_student_merge["student_name"]

Per_student_budget = budget_student_merge["school_name", "Per Student Budget"]

Per_student_budget

KeyError: ('school_name', 'Per Student Budget')

In [361]:
#Average math score
Avg_math_score = school_dataset.groupby("school_name")["math_score"].mean().reset_index()
Avg_math_score

              school_name  math_score
0      Bailey High School   77.048432
1     Cabrera High School   83.061895
2    Figueroa High School   76.711767
3        Ford High School   77.102592
4     Griffin High School   83.351499
5   Hernandez High School   77.289752
6      Holden High School   83.803279
7       Huang High School   76.629414
8     Johnson High School   77.072464
9        Pena High School   83.839917
10  Rodriguez High School   76.842711
11    Shelton High School   83.359455
12     Thomas High School   83.418349
13     Wilson High School   83.274201
14     Wright High School   83.682222

In [362]:
#Average reading score
Avg_reading_score = school_dataset.groupby("school_name")["reading_score"].mean().reset_index()
Avg_reading_score

              school_name  reading_score
0      Bailey High School      81.033963
1     Cabrera High School      83.975780
2    Figueroa High School      81.158020
3        Ford High School      80.746258
4     Griffin High School      83.816757
5   Hernandez High School      80.934412
6      Holden High School      83.814988
7       Huang High School      81.182722
8     Johnson High School      80.966394
9        Pena High School      84.044699
10  Rodriguez High School      80.744686
11    Shelton High School      83.725724
12     Thomas High School      83.848930
13     Wilson High School      83.989488
14     Wright High School      83.955000

In [363]:
#% passing math (the percentage of students who passed math)

passing_math_score_school = school_dataset[school_dataset["math_score"] >= 70]
passing_math_percent_school = passing_math_score_school.groupby("school_name")["math_score"].count().reset_index()
total_students_school = school_dataset.groupby("school_name")["Student ID"].count().reset_index()
passing_math_percent_school = passing_math_percent_school.merge(total_students_school, on="school_name", 
                              suffixes=('_passing', '_total'))
passing_math_percent_school["% Passing Math"] = (passing_math_percent_school["math_score"] / 
                                                 passing_math_percent_school["Student ID"]) * 100
passing_math_percent_school = passing_math_percent_school[["school_name", "% Passing Math"]]
passing_math_percent_school

              school_name  % Passing Math
0      Bailey High School       66.680064
1     Cabrera High School       94.133477
2    Figueroa High School       65.988471
3        Ford High School       68.309602
4     Griffin High School       93.392371
5   Hernandez High School       66.752967
6      Holden High School       92.505855
7       Huang High School       65.683922
8     Johnson High School       66.057551
9        Pena High School       94.594595
10  Rodriguez High School       66.366592
11    Shelton High School       93.867121
12     Thomas High School       93.272171
13     Wilson High School       93.867718
14     Wright High School       93.333333

In [364]:
#% passing reading (the percentage of students who passed reading)
passing_reading_score_school = school_dataset[school_dataset["reading_score"] >= 70]
passing_reading_percent_school = passing_reading_score_school.groupby("school_name")["reading_score"].count().reset_index()
total_students_school = school_dataset.groupby("school_name")["Student ID"].count().reset_index()
passing_reading_percent_school = passing_reading_percent_school.merge(total_students_school, on="school_name", 
                              suffixes=('_passing', '_total'))
passing_reading_percent_school["% Passing Reading"] = (passing_reading_percent_school["reading_score"] / 
                                                 passing_reading_percent_school["Student ID"]) * 100
passing_reading_percent_school = passing_reading_percent_school[["school_name", "% Passing Reading"]]
passing_reading_percent_school

              school_name  % Passing Reading
0      Bailey High School          81.933280
1     Cabrera High School          97.039828
2    Figueroa High School          80.739234
3        Ford High School          79.299014
4     Griffin High School          97.138965
5   Hernandez High School          80.862999
6      Holden High School          96.252927
7       Huang High School          81.316421
8     Johnson High School          81.222432
9        Pena High School          95.945946
10  Rodriguez High School          80.220055
11    Shelton High School          95.854628
12     Thomas High School          97.308869
13     Wilson High School          96.539641
14     Wright High School          96.611111

In [365]:
students_passing_math_and_reading = school_dataset[ 
    (school_dataset["reading_score"] >= 70) & (school_dataset["math_score"] >= 70)] 
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size() 
total_students = school_dataset.groupby("school_name").size()
overall_passing_percent = school_students_passing_math_and_reading / total_students * 100 
overall_passing_percent = overall_passing_percent.reset_index()
overall_passing_percent.columns = ["school_name", "% Overall Passing"]
overall_passing_percent["% Overall Passing"] = overall_passing_percent["% Overall Passing"].round(6)
overall_passing_percent

              school_name  % Overall Passing
0      Bailey High School          54.642283
1     Cabrera High School          91.334769
2    Figueroa High School          53.204476
3        Ford High School          54.289887
4     Griffin High School          90.599455
5   Hernandez High School          53.527508
6      Holden High School          89.227166
7       Huang High School          53.513884
8     Johnson High School          53.539172
9        Pena High School          90.540541
10  Rodriguez High School          52.988247
11    Shelton High School          89.892107
12     Thomas High School          90.948012
13     Wilson High School          90.582567
14     Wright High School          90.333333

In [366]:
# Create a DataFrame called `school_summary` with columns for the calculations above.

School_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": total_students,
    "Total School Budget": School_budget,
    "Per Student Budget": Per_student_budget,
    "Average Math Score": Avg_math_score,
    "Average Reading Score": Avg_reading_score,
    "% Passing Math": passing_math_percent_school,
    "% Passing Reading": passing_reading_percent_school,
    "% Overall Passing": overall_passing_percent
})

# Formatting
School_summary["Total School Budget"] = School_summary["Total School Budget"].map("${:,.2f}".format)
School_summary["Per Student Budget"] = School_summary["Per Student Budget"].map("${:,.2f}".format)

School_summary

ValueError: 2

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
highest_score_schools = overall_passing_percent.sort_values(by="% Overall Passing", ascending=False)

top_5_schools = highest_score_schools.head(5)

# Display the result
top_5_schools

## Lowest-Performing Schools (by % Overall Passing)

## Math Scores by Grade

## Reading Scores by Grade

## Scores by School Spending

## Scores by School Size

## Scores by School Type